streamlit
pdfplumber
pypdf
tiktoken
pandas
openai
ragas==0.2.6
langchain
langchain-core
langchain-community
langchain-ollama
langchain-huggingface
langsmith
faiss-cpu
rank-bm25
sentence-transformers
scikit-learn
numpy
spacy
python-dotenv
transformers
torch
